.logo {
  display: inline-flex;
  align-items: center;
  min-height: 44px;
  gap: 9px;

  &__text {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .22em;
    text-transform: uppercase;
    color: var(--c-text);
  }
}
